.show {
    display: grid;
}

.input {
    display: grid;
    width: 20%;
    border-radius: 7px;
    height: 25px;
    align-items: center;
}
.image{
    display: grid;
}
.input-box {
    text-align:center;
}