.App {
  text-align: center;
  font-family: sans-serif;
  background-image: url("./image3.jpg");
  height: 800px;
  background-repeat: no-repeat;
  margin-top: 0%;
}

.header {
  background-color: black;
  color: white;
  size: 25px;
  opacity: 0.8;
  width: 60%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 50px;
  padding-top: 40px;
}

.header-item-1 {
  padding-top: 0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-style: italic;
  color: cyan;
}

.header-item-2 {
  margin-top: 0%;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
  color: cyan;
}

.choice {
  margin-left: auto;
  margin-right: auto;
}

.radio-input {
  margin-top: 15px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  color: cyan;
}

.shows-display {
  background-color: rgb(130, 162, 226);
  width: 100%;
  margin-right: 5px;
  height: fit-content;
  margin-top: 0%;
  margin-bottom: 0%;

}

.footer {
  display: flex;
  background-color: black;
  color: yellow;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
}