.main-2 {
  /* text-align: center;
  font-family: sans-serif; */
  background-image: url("https://source.unsplash.com/1600x800/?vikings");
  height:800px;
  margin:auto; 
}

.header {
  display:flex;
  size: 25px;
  justify-content: center;
  background-color: black;
  border-radius: 15px;
  opacity:0.7;
  margin-left: 30% ;
  margin-right:30%;
  margin-top:15%;
 
}

.header-item-1 {
 display:flex;
 justify-content: flex-start;
  font-size: 40px;
  color:white;
  margin-top:0%;
  mix-blend-mode: difference;
}

.header-item-2 {
  margin-top: 0%;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  font-size: 40px;
  color: white;
  mix-blend-mode: difference;
}

.choice {
  margin-left: auto;
  margin-right: auto;
  font-size:25px;
  mix-blend-mode: difference;
}

.radio-input {
  margin-top: 15px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  mix-blend-mode: difference;
}

.shows-display {
  
  background-color:transparent;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left:10px;
  margin-right:10px;
}


